Repository alibaba/sentinel-golang, pull requests merged in 2020-05, with the labels that each got.

#149 Fix data race of Token result Pool
  api/api.go
  api/tracer_test.go
  core/base/block_error.go
  core/base/context.go
  core/base/context_test.go
  core/base/result.go
  core/base/result_test.go
  core/base/slot_chain.go
  core/circuit_breaker/circuit_breaker.go
  core/circuit_breaker/circuit_breaker_test.go
  core/circuit_breaker/slot.go
  core/flow/slot.go
  core/flow/tc_default.go
  core/flow/tc_throttling.go
  core/flow/tc_throttling_test.go
  core/stat/stat_slot.go
  core/system/slot.go
  core/system/slot_test.go
  example/qps/qps_limit_example.go
  example/qps/qps_limit_example_test.go
  example/qps/sentinel.yml
  util/time_test.go
Labels: area/performance, kind/bug

#143 Circuit breaker refactor and enhance the scalability of stat module
  api/slot_chain.go
  core/base/context.go
  core/base/entry.go
  core/base/slot_chain.go
  core/circuit_breaker/circuit_breaker.go
  core/circuit_breaker/circuit_breaker_test.go
  core/circuit_breaker/rule.go
  core/circuit_breaker/rule_manager.go
  core/circuit_breaker/rule_manager_test.go
  core/circuit_breaker/rule_test.go
  core/circuitbreaker/circuit_breaker.go
  core/circuitbreaker/circuit_breaker_test.go
  core/circuitbreaker/rule.go
  core/circuitbreaker/rule_manager.go
  core/circuitbreaker/rule_manager_test.go
  core/circuitbreaker/rule_test.go
  core/circuitbreaker/slot.go
  core/circuitbreaker/stat_slot.go
  core/stat/base/atomic_window_wrap_array_test.go
  core/stat/base/bucket_leap_array.go
  core/stat/base/bucket_leap_array_test.go
  core/stat/base/leap_array.go
  core/stat/base/leap_array_test.go
  core/stat/base/metric_bucket.go
  core/stat/base/sliding_window_metric.go
  core/stat/stat_slot.go
  example/circuitbreaker/circuit_breaker_example.go
  go.mod
  go.sum
Labels: area/circuit-breaking, kind/enhancement, to-review

#152 Polish code of circuit breaker module
  core/circuitbreaker/circuit_breaker.go
  core/circuitbreaker/circuit_breaker_test.go
  core/circuitbreaker/rule.go
  core/circuitbreaker/rule_manager.go
  core/circuitbreaker/stat_slot.go
  example/circuitbreaker/circuit_breaker_example.go
Labels: area/circuit-breaking, kind/enhancement

#153 Polish api.Tracer with new error tracing mechanism
  adapter/dubbo/consumer_filter.go
  adapter/dubbo/provider_filter.go
  adapter/grpc/client.go
  adapter/grpc/server.go
  api/tracer.go
  api/tracer_test.go
Labels: kind/enhancement
