Repository alibaba/sentinel-golang, pull requests merged in 2020-12, with the labels that each got.

#341 upgrade gopsutil
  go.mod
  go.sum
Labels: dependencies

#345 Update README.md
  README.md
Labels: area/document

#344 Update rules in concurrency for flow qps example.
  example/flow/qps/qps_limit_example.go
  go.mod
  go.sum
Labels: area/example

#352 Migrate gopsutil to v3
  core/system/sys_stat.go
  core/system/sys_stat_test.go
  go.mod
  go.sum
Labels: dependencies

#333 Rule Manager: Enhance load hotspot rules
  core/hotspot/rule_manager.go
Labels: kind/enhancement, rule manager

#354 Make flow, breaker, isolation and system LoadRule() serialization
  core/circuitbreaker/rule_manager.go
  core/flow/rule_manager.go
  core/flow/rule_manager_test.go
  core/isolation/rule_manager.go
  core/system/rule_manager.go
  core/system/rule_manager_test.go
  ext/datasource/helper.go
Labels: area/rule-manager, kind/enhancement, to-review

#358 Isolate system metric statistic to independent pkg core/system_metric
  api/init.go
  core/system/slot.go
  core/system/slot_test.go
  core/system_metric/sys_metric_stat.go
  core/system_metric/sys_metric_stat_test.go
Labels: area/metrics, kind/refactor

#338 Support stat sliding window bucket count config of circuit breaker
  core/circuitbreaker/circuit_breaker.go
  core/circuitbreaker/rule.go
  core/circuitbreaker/rule_manager.go
  core/circuitbreaker/rule_test.go
  example/circuitbreaker/error_count/circuit_breaker_error_count_example.go
  example/circuitbreaker/error_ratio/circuit_breaker_error_ratio_example.go
  example/circuitbreaker/slow_rt_ratio/circuit_breaker_slow_rt_ratio_example.go
Labels: area/circuit-breaking

#350 Support mock time and ticker
  api/tracer_test.go
  core/base/slot_chain_test.go
  core/flow/slot.go
  core/flow/tc_throttling_test.go
  core/hotspot/slot.go
  core/hotspot/traffic_shaping_test.go
  core/log/metric/aggregator.go
  core/log/metric/writer.go
  core/stat/base/atomic_window_wrap_array_test.go
  core/stat/base/mutex_test.go
  core/stat/base/stat_base_benchmark_test.go
  core/system_metric/sys_metric_stat.go
  ext/datasource/file/refreshable_file.go
  ext/datasource/file/refreshable_file_test.go
  tests/core/circuitbreaker/circuitbreaker_slot_integration_test.go
  tests/core/misc/flow_slot_load_rule_test.go
  util/time.go
  util/time_test.go
Labels: area/test, kind/feature, to-review

#118 Bug: contention may let go of the more requests for the number of cores
  core/flow/tc_throttling.go
  core/flow/tc_throttling_test.go
Labels: area/flow-control, kind/bug, to-review
