Repository alibaba/sentinel-golang, pull requests merged in 2020-11, with the labels that each got.

#316 Remove redundant type conversion.
  core/hotspot/traffic_shaping.go
  core/stat/base_node.go
Labels: kind/enhancement

#315 fix bug in circuit_breaker.go about SlowRequestRatio
  core/circuitbreaker/circuit_breaker.go
Labels: area/circuit-breaking, kind/enhancement

#309 Enhance logging
  core/circuitbreaker/rule_manager.go
  core/flow/rule_manager.go
  core/hotspot/rule_manager.go
  core/log/metric/searcher.go
  core/log/metric/writer.go
  core/system/rule_manager.go
  core/system/sys_stat.go
  logging/logging.go
  logging/logging_test.go
Labels: area/logging

#319 Enhance hotspot ParamsMetric
  core/hotspot/concurrency_stat_slot.go
  core/hotspot/rule.go
  core/hotspot/rule_manager.go
  core/hotspot/traffic_shaping.go
  core/hotspot/traffic_shaping_test.go
Labels: flow-hotspot, kind/enhancement, to-review

#318 Support slot order
  api/api_test.go
  api/slot_chain.go
  core/base/slot_chain.go
  core/base/slot_chain_test.go
  core/circuitbreaker/slot.go
  core/circuitbreaker/stat_slot.go
  core/flow/slot.go
  core/flow/standalone_stat_slot.go
  core/hotspot/concurrency_stat_slot.go
  core/hotspot/slot.go
  core/isolation/slot.go
  core/log/slot.go
  core/misc/resource_slot_chain.go
  core/misc/resource_slot_chain_test.go
  core/stat/stat_prepare_slot.go
  core/stat/stat_slot.go
  core/system/slot.go
  go.sum
  tests/core/circuitbreaker/circuitbreaker_slot_integration_test.go
Labels: kind/enhancement, kind/refactor, to-review

#268 Flow rule cache/check
  core/flow/rule_manager.go
  core/flow/rule_manager_test.go
  ext/datasource/helper.go
Labels: area/flow-control, kind/enhancement

#321 Loading hotspot rule supports cache
  core/hotspot/rule_manager.go
  core/hotspot/rule_manager_test.go
  ext/datasource/helper.go
Labels: area/flow-hotspot

#324 Loading circuitbreaker rule supports cache
  core/circuitbreaker/rule_manager.go
  core/circuitbreaker/rule_manager_test.go
  ext/datasource/helper.go
Labels: area/circuit-breaking

#322 Loading isolation rule supports cache
  core/hotspot/rule_manager.go
  core/isolation/rule_manager.go
  core/isolation/rule_manager_test.go
Labels: area/flow-isolation

#308 Enhance benchmark
  core/stat/base/stat_base_benchmark_test.go
  example/circuitbreaker/error_count/circuit_breaker_error_count_example.go
  tests/benchmark/entry/entry_benchmark_concurrency_test.go
  tests/benchmark/entry/entry_benchmark_test.go
  tests/benchmark/load_rules_benchmark_test.go
  tests/benchmark/memory/memory_test.go
  tests/entry_benchmark_concurrency_test.go
Labels: area/benchmark

#301 Enhance snapshot for blocked entry
  core/circuitbreaker/slot.go
  core/flow/tc_default.go
  core/flow/tc_throttling.go
  core/hotspot/traffic_shaping.go
  core/isolation/slot.go
  core/system/slot.go
  core/system/slot_test.go
Labels: kind/enhancement, to-review

#313 Add isolation slot benchmark
  tests/benchmark/isolation/isolation_slot_benchmark_test.go
Labels: area/benchmark

#310 Add flow benchmark test
  tests/benchmark/flow/flow_benchmark_test.go
Labels: area/benchmark

#311 Add hotsport benchmark test
  tests/benchmark/hotspot/hotspot_benchmark_test.go
Labels: area/benchmark

#314 Add circuitbreaker benchmark test
  tests/benchmark/circuitbreaker/circuitbreaker_benchmark_test.go
Labels: area/benchmark

#327 Fix bug when leap array as token bucket(sample bucket is 1)
  core/circuitbreaker/circuit_breaker.go
  core/stat/base/leap_array.go
Labels: kind/bug, priority/high

#328 Refine benchmark cases
  go.sum
  tests/benchmark/circuitbreaker/circuitbreaker_benchmark_test.go
  tests/benchmark/entry/entry_benchmark_test.go
  tests/benchmark/entry/entry_comparison_benchmark_test.go
  tests/benchmark/entry/entry_comparison_concurrency_benchmark_test.go
  tests/benchmark/env_init.go
  tests/benchmark/flow/flow_benchmark_test.go
  tests/benchmark/hotspot/hotspot_benchmark_test.go
  tests/benchmark/isolation/isolation_slot_benchmark_test.go
Labels: area/benchmark

#330 fix testMetricItemFromBucket func
  core/stat/base/sliding_window_metric_test.go
Labels: area/test

#329 upgrad gopsutil supports windows load
  go.mod
  go.sum
Labels: dependencies
