Repository alibaba/sentinel-golang, pull requests merged in 2020-07, with the labels that each got.

#175 Refactor config initialization
  api/init.go
  core/config/config.go
  core/config/config_test.go
  core/config/entity.go
  core/log/metric/aggregator.go
Labels: area/configuration, to-review

#178 fix error message of test for bucket wrapper size
  core/stat/base/leap_array_test.go
Labels: area/test

#116 Implement consul datasource
  .travis.yml
  ext/datasource/consul/consul.go
  ext/datasource/consul/consul_example_test.go
  ext/datasource/consul/consul_test.go
  ext/datasource/consul/option.go
  go.mod
  go.sum
Labels: area/data-source

#176 Optimize load rules for max size rule
  core/circuitbreaker/rule_manager.go
  core/flow/rule_manager.go
  core/hotspot/rule_manager.go
  core/hotspot/rule_manager_test.go
  core/system/rule_manager.go
  tests/maxsize_rule_list_benchmark_test.go
Labels: area/performance, kind/enhancement, to-review

#184 Nacos datasource
  ext/datasource/nacos/nacos.go
  ext/datasource/nacos/nacos_example.go
  ext/datasource/nacos/nacos_test.go
  go.mod
  go.sum
Labels: area/data-source, to-review

#186 Carry invocation arguments in filters of Dubbo adapter
  adapter/dubbo/consumer_filter.go
  adapter/dubbo/provider_filter.go
Labels: area/integrations

#187 Improve all rule checking slots with standard BlockError representation
  api/api_test.go
  core/base/block_error.go
  core/base/context_test.go
  core/base/result.go
  core/base/slot_chain_test.go
  core/circuitbreaker/slot.go
  core/flow/rule_manager.go
  core/flow/tc_default.go
  core/flow/tc_throttling.go
  core/hotspot/traffic_shaping.go
  core/system/slot.go
Labels: kind/enhancement

#195 [194] fix windos run test
  core/log/metric/common_test.go
  ext/datasource/file/refreshable_file_test.go
Labels: area/test
