Repository alibaba/sentinel-golang, pull requests merged in 2020-08, with the labels that each got.

#197 Optimize the way to initialize the start time of the AtomicBucketWrapArray
  core/circuitbreaker/circuit_breaker.go
  core/circuitbreaker/rule_manager.go
  core/stat/base/atomic_window_wrap_array_test.go
  core/stat/base/bucket_leap_array_test.go
  core/stat/base/leap_array.go
  core/stat/base/leap_array_test.go
Labels: kind/bug, kind/enhancement

#198 update datasource_flow_json_parsers
  core/flow/rule.go
  core/hotspot/rule.go
  core/hotspot/rule_manager_test.go
  core/hotspot/rule_test.go
  core/system/rule.go
  example/hotspot_param_flow/hotspot_param_flow_example.go
  ext/datasource/consul/consul_test.go
  ext/datasource/helper.go
  ext/datasource/helper_test.go
Labels: area/data-source, to-review

#201 Fix the inveracious logging.Logger to customize.
  api/tracer.go
  core/base/slot_chain.go
  core/circuitbreaker/circuit_breaker.go
  core/circuitbreaker/rule.go
  core/circuitbreaker/rule_manager.go
  core/config/config.go
  core/config/entity.go
  core/flow/rule_manager.go
  core/flow/slot.go
  core/hotspot/cache/lru.go
  core/hotspot/concurrency_stat_slot.go
  core/hotspot/rule.go
  core/hotspot/rule_manager.go
  core/hotspot/slot.go
  core/hotspot/traffic_shaping.go
  core/log/metric/aggregator.go
  core/log/metric/reader.go
  core/log/metric/searcher.go
  core/log/metric/writer.go
  core/stat/base/bucket_leap_array.go
  core/stat/base/sliding_window_metric.go
  core/stat/node_storage.go
  core/system/rule_manager.go
  core/system/sys_stat.go
  ext/datasource/consul/consul.go
  ext/datasource/etcdv3/etcdv3.go
  ext/datasource/file/refreshable_file.go
  ext/datasource/helper.go
  ext/datasource/nacos/nacos.go
  ext/datasource/property.go
  logging/logging.go
  util/auto_recover.go
Labels: area/logging

#190 [177] Add "warm-up" control behavior support
  core/base/stat.go
  core/base/stat_test.go
  core/config/constant.go
  core/flow/rule.go
  core/flow/rule_manager.go
  core/flow/tc_warm_up.go
  core/stat/base/bucket_leap_array.go
  core/stat/base/sliding_window_metric.go
  core/stat/base_node.go
  example/warm_up/qps_warm_up_example.go
  example/warm_up/qps_warm_up_example_test.go
  example/warm_up/sentinel.yml
Labels: area/flow-control, kind/feature, to-review

#202 fix circuit breaker half-open state issue.
  api/api.go
  core/base/context.go
  core/base/entry.go
  core/base/entry_test.go
  core/base/slot_chain.go
  core/base/slot_chain_test.go
  core/circuitbreaker/circuit_breaker.go
  core/circuitbreaker/rule.go
  core/circuitbreaker/rule_manager.go
  tests/core/circuitbreaker/circuitbreaker_slot_integration_test.go
Labels: area/circuit-breaking, kind/bug, to-review

#205 Using circuitbreaker.Rule to define slowRequest/errorRatio/errorCount Rule
  core/circuitbreaker/circuit_breaker.go
  core/circuitbreaker/circuit_breaker_test.go
  core/circuitbreaker/rule.go
  core/circuitbreaker/rule_manager.go
  core/circuitbreaker/rule_manager_test.go
  core/circuitbreaker/rule_test.go
  core/circuitbreaker/slot.go
  core/hotspot/rule.go
  example/circuitbreaker/circuit_breaker_example.go
  ext/datasource/helper.go
  ext/datasource/helper_test.go
  go.mod
  go.sum
  tests/core/circuitbreaker/circuitbreaker_slot_integration_test.go
  tests/maxsize_rule_list_benchmark_test.go
  tests/testdata/extension/helper/CircuitBreakerRule.json
  util/math.go
  util/math_test.go
Labels: area/circuit-breaking, kind/enhancement, to-review
