Repository alibaba/sentinel-golang, pull requests merged in 2020-06, with the labels that each got.

#154 Add benchmark
  tests/entry_benchmark_concurrency_test.go
  tests/entry_benchmark_test.go
  tests/memory_test.go
Labels: area/benchmark

#155 Optimize performance.
  api/api.go
  api/init.go
  core/base/context.go
  core/base/slot_chain.go
  core/config/config.go
  core/config/entity.go
  util/time.go
  util/time_test.go
  util/time_ticker.go
  util/util_test.go
Labels: area/performance, kind/enhancement, to-review

#119 frequency parameters traffic control
  api/api.go
  api/slot_chain.go
  core/base/result.go
  core/config/config.go
  core/freq_params_traffic/cache/concurrent_cache.go
  core/freq_params_traffic/cache/concurrent_lru.go
  core/freq_params_traffic/cache/concurrent_lru_benchmark_test.go
  core/freq_params_traffic/cache/concurrent_lru_test.go
  core/freq_params_traffic/cache/lru.go
  core/freq_params_traffic/concurrency_stat_slot.go
  core/freq_params_traffic/params_metric.go
  core/freq_params_traffic/rule.go
  core/freq_params_traffic/rule_manager.go
  core/freq_params_traffic/rule_manager_test.go
  core/freq_params_traffic/rule_test.go
  core/freq_params_traffic/slot.go
  core/freq_params_traffic/slot_test.go
  core/freq_params_traffic/traffic_shaping.go
  core/freq_params_traffic/traffic_shaping_test.go
  core/stat/base/leap_array.go
  example/freq_params_traffic/hot-pramas-sentinel.yml
  example/freq_params_traffic/hot_params_flow_example.go
  logging/logging.go
  logging/logging_test.go
  util/atomic.go
Labels: kind/feature

#157 Prefect the datasource helper
  api/slot_chain.go
  core/circuitbreaker/rule.go
  core/circuitbreaker/rule_manager.go
  core/flow/rule.go
  core/hotspot/cache/concurrent_cache.go
  core/hotspot/cache/concurrent_lru.go
  core/hotspot/cache/concurrent_lru_benchmark_test.go
  core/hotspot/cache/concurrent_lru_test.go
  core/hotspot/cache/lru.go
  core/hotspot/concurrency_stat_slot.go
  core/hotspot/params_metric.go
  core/hotspot/rule.go
  core/hotspot/rule_manager.go
  core/hotspot/rule_manager_test.go
  core/hotspot/rule_test.go
  core/hotspot/slot.go
  core/hotspot/slot_test.go
  core/hotspot/traffic_shaping.go
  core/hotspot/traffic_shaping_test.go
  core/system/rule.go
  example/freq_params_traffic/hot_params_flow_example.go
  ext/datasource/helper.go
  ext/datasource/helper_test.go
  ext/datasource/property.go
  go.mod
  go.sum
  tests/testdata/extension/helper/CircuitBreakerRule.json
  tests/testdata/extension/helper/FlowRule.json
  tests/testdata/extension/helper/FreqParamsRule.json
  tests/testdata/extension/helper/SystemRule.json
  tests/testdata/extension/plugin/FlowRule.json
  tests/testdata/extension/plugin/SystemRule.json
Labels: area/data-source, kind/enhancement, to-review

#160 Fix bug in unit test Test_UpdateBucket_Concurrent
  core/stat/base/bucket_leap_array_test.go
Labels: area/test

#162 Feat/set default config
  api/init.go
  core/config/config.go
  core/config/entity.go
Labels: area/configuration, to-review

#171 Polish the circuit breaker code.
  api/slot_chain.go
  core/circuitbreaker/circuit_breaker.go
  core/circuitbreaker/rule.go
  core/circuitbreaker/rule_manager_test.go
  core/circuitbreaker/slot.go
  core/circuitbreaker/stat_slot.go
  example/circuitbreaker/circuit_breaker_example.go
  ext/datasource/helper.go
  ext/datasource/helper_test.go
Labels: area/circuit-breaking, to-review
