Repository alibaba/sentinel-golang, pull requests merged in 2021-01, with the labels that each got.

#370 Rule Manager: support resource level rule replacement in flow module
  core/flow/rule.go
  core/flow/rule_manager.go
  core/flow/rule_manager_test.go
Labels: area/flow-control, area/rule-manager

#375 upgrade gopsutil v3.20.12
  go.mod
  go.sum
Labels: dependencies

#374 support resource level rule replacement in circuitBreaker module
  core/circuitbreaker/rule_manager.go
  core/circuitbreaker/rule_manager_test.go
  core/isolation/rule_manager.go
Labels: area/rule-manager

#371 Record max concurrency in MetricItem and metric logs
  core/stat/base/bucket_leap_array.go
  core/stat/base/bucket_leap_array_test.go
  core/stat/base/metric_bucket.go
  core/stat/base/metric_bucket_test.go
  core/stat/base/sliding_window_metric.go
  core/stat/base/sliding_window_metric_test.go
  core/stat/base_node.go
Labels: area/metrics, to-review

#379 Bug: deprecated resource slot chain
  api/api.go
  api/api_test.go
  api/slot_chain.go
  core/base/slot_chain.go
  core/base/slot_chain_test.go
  core/circuitbreaker/rule_manager.go
  core/circuitbreaker/slot.go
  core/circuitbreaker/stat_slot.go
  core/flow/rule_manager.go
  core/flow/slot.go
  core/flow/standalone_stat_slot.go
  core/hotspot/concurrency_stat_slot.go
  core/hotspot/rule_manager.go
  core/hotspot/slot.go
  core/isolation/rule_manager.go
  core/isolation/slot.go
  core/log/slot.go
  core/misc/resource_slot_chain.go
  core/misc/resource_slot_chain_test.go
  core/stat/stat_prepare_slot.go
  core/stat/stat_slot.go
  core/system/slot.go
  tests/core/misc/flow_slot_load_rule_test.go
Labels: kind/bug, priority/urgent

#376 feat: hotspot rule add paramKey;
  core/hotspot/concurrency_stat_slot.go
  core/hotspot/rule.go
  core/hotspot/rule_manager.go
  core/hotspot/rule_test.go
  core/hotspot/slot.go
  core/hotspot/slot_test.go
  core/hotspot/traffic_shaping.go
  core/hotspot/traffic_shaping_test.go
  example/hotspot_param_flow/concurrency/hotspot_params_concurrency_example.go
  example/hotspot_param_flow/qps_reject/hotspot_params_qps_reject_example.go
  ext/datasource/helper_test.go
  tests/benchmark/hotspot/hotspot_benchmark_test.go
Labels: area/flow-hotspot, kind/enhancement, to-review

#343 Add metric log testcase
  core/log/metric/aggregator_test.go
Labels: area/test

#383 Deprecated resource level slot chain
  api/api.go
  api/api_test.go
  api/slot_chain.go
  core/base/slot_chain.go
  core/base/slot_chain_test.go
  core/circuitbreaker/rule_manager.go
  core/circuitbreaker/slot.go
  core/circuitbreaker/stat_slot.go
  core/flow/rule_manager.go
  core/flow/slot.go
  core/flow/standalone_stat_slot.go
  core/hotspot/concurrency_stat_slot.go
  core/hotspot/rule_manager.go
  core/hotspot/slot.go
  core/isolation/rule_manager.go
  core/isolation/slot.go
  core/log/slot.go
  core/misc/resource_slot_chain.go
  core/misc/resource_slot_chain_test.go
  core/stat/stat_prepare_slot.go
  core/stat/stat_slot.go
  core/system/slot.go
  tests/core/misc/flow_slot_load_rule_test.go
Labels: kind/enhancement, priority/high
